@model IEnumerable<projecten.Models.Domain.StageOpdracht>

<table id="Lijst">
    <tr>
        <th class="firstth">naam</th>
        <th>omschrijving</th>
        <th>Semester</th>
        <th>Specialisatie</th>
        <th>Mentor</th>
        <th>
            Academiejaar
        </th>
        <th></th>
    </tr>

    @if (!Model.Any())
    {
        <tr>
            <td colspan="4" align="center">Je hebt nog geen stageopdracht!</td>
        </tr>
    }

    @foreach (var item in Model)
    {

        <tr>
            <td class="firsttd">@Html.DisplayFor(modelItem => item.Naam)</td>
            <td class="omschrijving">@Html.DisplayFor(modelItem => item.Omschrijving)</td>
            <td>@Html.DisplayFor(modelItem => item.Semester)</td>
            <td class="omschrijving">@Html.DisplayFor(modelItem => item.Specialisatie)</td>
            <td>@Html.DisplayFor(modelItem => item.StageMentor)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Academiejaar)
            </td>
        </tr>
    }
</table>