@using projecten.Models.DAL
@model projecten.Models.StageOpdrachtToevoegenModel
@{
    ViewBag.Title = "StageOpdracht Toevoegen";
    var context = new BedrijfContext();
    var rep = new BedrijfRepository(context);
    var bedrijf = rep.FindBy(User.Identity.Name);
    var mentoren = rep.FindAllMentors(bedrijf);
    var acrep = new AcademieJaarRepository(context);
    var selectItems = new SelectList(mentoren, "Naam", "Naam");
    var items = new SelectList(acrep.FindAll(), "Academiejaar", "Academiejaar");
}

<h2>StageOpdracht Toevoegen</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.StageNaam)
                @Html.TextBoxFor(m => m.StageNaam)
            </li>
            <li>
                @Html.LabelFor(m => m.Specialisatie)
                @Html.DropDownListFor(model => model.Specialisatie, new SelectList(
                  new List<Object>{
                       new { value ="Programmeren" , text = "Programmeren"  },
                       new { value = "Webontwikkeling" , text = "Webontwikkeling" },
                       new { value = "Mainframe" , text = "Mainframe"},
                       new { value = "E-bussiness" , text = "E-bussiness"},
                       new { value = "Mobile", text = "Mobile"},
                       new { value = "Systeembeheer", text = "Systeembeheer"}
                    },
                  "value",
                  "text",
                   5))
            </li>
            <li>
                @Html.LabelFor(m => m.Omschrijving)
                @Html.TextAreaFor(m => m.Omschrijving)
            </li>
            <li>
                @Html.LabelFor(m => m.Semester)
               @Html.DropDownListFor(model => model.Semester, new SelectList(
                  new List<Object>{
                       new { value ="1" , text = "1"  },
                       new { value = "2" , text = "2" },
                       new { value = "Beiden" , text = "Beiden"}                 
                    },
                  "value",
                  "text",
                   3))
            </li>
            <li>
                @Html.LabelFor(m => m.Aantal)
                @Html.TextBoxFor(m => m.Aantal)
            </li>
            <li>
                @Html.LabelFor(m => m.Academiejaar)<p>(bv. "2013-2014")</p>
                @Html.DropDownListFor(m => m.Academiejaar, items)
            </li>
            <li>
                @Html.LabelFor(m => m.StageMentor)
                @Html.DropDownListFor(m => m.StageMentor, selectItems)
            </li>
        </ol>
        <input class="linkbutton" type="submit" value="Voeg toe" />
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
