@using System.Collections
@using System.Collections.ObjectModel
@using System.Configuration
@using Microsoft.Ajax.Utilities
@using MySql.Data.MySqlClient
@using projecten.Models.DAL
@model projecten.Models.StageOpdrachtenModel
@{
    ViewBag.Title = "Stage Opdrachten";
    BedrijfContext context = new BedrijfContext();
    StageOpdrachtRepository repository = new StageOpdrachtRepository(context);
    BedrijfRepository rep = new BedrijfRepository(context);
    var bedrijf = rep.FindBy(User.Identity.Name);
    var opdrachten = rep.FindAllOpdrachten(bedrijf);

}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StageNaam)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialisatie)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StageMentor)

        </th>
        <th></th>
    </tr>

    @foreach (var item in opdrachten)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialisatie)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AantalStudenten) 
                </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageMentor)
            </td>
            <td>
                @Html.ActionLink("Wijzigen", "StageOpdrachtWijzigen", new { id = item.StageOpdrachtid}) |
                @Html.ActionLink("Verwijderen", "Delete", new {id = item.StageOpdrachtid})
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Voeg een opdracht toe", "StageOpdrachtToevoegen")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
