@using projecten.Models.DAL
@model projecten.Models.Domain.Bedrijf
@{
    ViewBag.Title = "BedrijfsProfiel";
    var selectItems = new SelectList(Model.mentors, "Aanspreektitel", "Aanspreektitel");
    var context = new BedrijfContext();
    var rep = new StageBegeleiderRepository(context);
}

<hgroup class="subtitle">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div style="float: left;">
        <fieldset>
            <legend>Profiel</legend>
            <ol>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Bedrijfsnaam)

                </li>
                <li>
                    @Html.DisplayFor(model => model.Bedrijfsnaam)

                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Email)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Email)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.telefoon)
                </li>
                <li>
                    @Html.DisplayFor(model => model.telefoon)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.adres)
                </li>
                <li>
                    @Html.DisplayFor(model => model.adres)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.url)
                </li>
                <li>
                    @Html.DisplayFor(model => model.url)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Bedrijfsactiviteit)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Bedrijfsactiviteit)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Bereikbaarheid)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Bereikbaarheid)
                </li>
@if (rep.FindBy(User.Identity.Name) != null)
{
    <li class="h3">
        @Html.DisplayName("Mentoren")
    </li>
    <li>
        @Html.DropDownListFor(model => model.mentors, selectItems)
    </li>
}
            </ol>
            @Html.ActionLink("Terug naar lijst", "Bedrijven", null, new {@class = "linkbutton"})
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}