@model projecten.Models.RegisterModel
@{
    ViewBag.Title = "Registreer";
    var foto = Model.Foto;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
  @*  <h2>Maak een niewe account.</h2> *@
</hgroup>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {enctype="multipart/form-data"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.BedrijfsNaam)
                @Html.TextBoxFor(m => m.BedrijfsNaam)
            </li>
            <li>
                @Html.LabelFor(m => m.Adres)
                @Html.TextBoxFor(m => m.Adres)
            </li>
            <li>
                @Html.LabelFor(m => m.Url)
                @Html.TextBoxFor(m => m.Url)
            </li>
            <li>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </li>
                <li>
                @Html.LabelFor(m => m.Telefoon)
                @Html.TextBoxFor(m => m.Telefoon)
            </li>
                <li>

                @Html.LabelFor(m => m.Bereikbaarheid)
                @Html.DropDownListFor(model => model.Bereikbaarheid, new SelectList(
                  new List<Object>{ 
                       new { value = "wagen" , text = "wagen"  },
                       new { value = "openbaar vervoer" , text = "openbaar vervoer" },
                       new { value = "georganiseerd vervoer" , text = "georganiseerd vervoer"},
                       new { value = "andere" , text = "andere"}
                    },
                  "value",
                  "text",
                   2))
                
            </li>
                <li>
                @Html.LabelFor(m => m.BedrijfsActiviteit)
               @Html.DropDownListFor(model => model.BedrijfsActiviteit, new SelectList(
                  new List<Object>{ 
                       new { value = "bank" , text = "bank"  },
                       new { value = "software ontwikkelaar" , text = "software ontwikkelaar" },
                       new { value = "openbare diensten" , text = "openbare diensten"},
                       new { value = "andere" , text = "andere"}
                    },
                  "value",
                  "text",
                   2))
            </li>
                <li class="h3">
                    @Html.Label("foto:")
                </li>
                <li>
                    <img alt="" width="300" height="200" src="data:image/jpeg;base64,@foto" /> <input type="file" name="image" />
                </li> 


        </ol>
        <input type="submit" value="Registreer" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
