@model projecten.Models.WachtwoordVeranderenModel


@using (Html.BeginForm("WachtwoordVeranderen", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
  
    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Verander wachtwoord" />
        <div id="modal">

            <p>testing</p>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/Content/css")
<link href="~/content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
<script src="~/scripts/jquery-ui-1.8.24.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
}