@using projecten.Models.DAL
@{   
    BedrijfContext context = new BedrijfContext();
    StudentRepository rep = new StudentRepository(context);
StageBegeleiderRepository begRep = new StageBegeleiderRepository(context);
BedrijfRepository bedrijfRep = new BedrijfRepository(context); 
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Code Constructors</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Site.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="/Home/Index"><img id="img_logo" alt="GroupLogo" src="@Url.Content("~/Images/nieuw klein logo.png")" /></a>
                </div>

                <div class="float-right">
                    <section id="login">
                        
                        @Html.Partial("_LoginPartial")

                    </section>
                </div>
                <nav>
                    <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")
                                
                            </li>
                            <li>@Html.ActionLink("Info", "About", "Home")
                                <ul>
                                    <li class="size">@Html.ActionLink("Projecten I","ProjectenI","Home")</li>
                                    <li>@Html.ActionLink("Projecten II","ProjectenII","Home")</li>
                                    <li>@Html.ActionLink("Projecten III","ProjectenIII","Home")</li>
                                    <li>@Html.ActionLink("Stages","Stage","Home")</li>
                                    <li>@Html.ActionLink("Bachelorproef","Bachelorproef","Home")</li>
                                </ul>
                            </li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")
                        <ul>
                            <li>@Html.ActionLink("Contact bachelorproef", "ContactBachelor", "Home")</li>
                            <li>@Html.ActionLink("Contact bachelorproef", "ContactProjectwerking", "Home")</li>
                        </ul>
</li>
                         <li>@Html.ActionLink("De Bedrijven", "Bedrijven", "Home")</li>
@if (Request.IsAuthenticated && User.Identity.Name.Contains("hogent.be") && rep.FindBy(User.Identity.Name) != null) { 
    <li>
        <a href="#">Student</a>
        <ul>
            <li>@Html.ActionLink("Stages", "Stages", "Student")</li>
            <li>@Html.ActionLink("Jouw Stages", "IngenomenStages", "Student")</li>
        </ul>
    </li>
                            
}
@if (Request.IsAuthenticated && User.Identity.Name.Contains("hogent.be") && begRep.FindBy(User.Identity.Name) != null)
{
    <li>
        <a href="#">Begeleider</a>
        <ul>
            <li class="size">@Html.ActionLink("Beschikbare opdrachten","StageOpdrachten","Begeleider")</li>
                            <li>@Html.ActionLink("Voorkeurstages","VoorkeurStages","Begeleider")</li>
                            <li>@Html.ActionLink("Studenten","Studenten","Begeleider")</li>
                            <li>@Html.ActionLink("Uw goedgekeurde voorkeuren","IngenomenOpdrachten","Begeleider")</li>
        </ul>
    </li>    
}
@if (Request.IsAuthenticated && bedrijfRep.FindBy(User.Identity.Name) != null)
{
    <li>
        <a href="#">Bedrijf</a>
        <ul>
            <li class="size">@Html.ActionLink("Mijn Stageopdrachten","StageOpdrachten","Bedrijf")</li>
                            <li>@Html.ActionLink("Mijn Stagementoren","StageMentoren","Bedrijf")</li>
        </ul>
    </li>    
}
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">

                <div>
                    <p>&copy; @DateTime.Now.Year | Code Constructors</p>
                </div>
            </div>
        </footer>
        <script src="/Scripts/jquery-2.1.0.js"></script>
        <script src="/Scripts/modernizr-2.7.2.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
