@using projecten.Models.DAL
@{   
    BedrijfContext context = new BedrijfContext();
    StageBegeleiderRepository repository = new StageBegeleiderRepository(context);
    StudentRepository rep = new StudentRepository(context);
}
@if (Request.IsAuthenticated && User.Identity.Name.Contains("hogent.be") &&  rep.FindBy(User.Identity.Name) != null)
{
    <text>
        Hallo, @Html.ActionLink(User.Identity.Name, "")
        @Html.ActionLink("Student", "Profiel", "Student", routeValues: null, htmlAttributes: new {})
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else if (Request.IsAuthenticated && User.Identity.Name.Contains("hogent.be") &&  repository.FindBy(User.Identity.Name) != null)
{
    <text>
        Hallo, @Html.ActionLink(User.Identity.Name, "")
        @Html.ActionLink("Profiel", "Profiel", "Begeleider", routeValues: null, htmlAttributes: new {})
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else if (Request.IsAuthenticated && !User.Identity.Name.Contains("hogent.be"))
{
         <text>
         Hallo, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
@Html.ActionLink("Mijn stageopdrachten", "StageOpdrachten", "Bedrijf", routeValues: null, htmlAttributes: new { })
@Html.ActionLink("Mijn stagementoren", "StageMentoren", "Bedrijf", routeValues: null, htmlAttributes: new { })
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
                   <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
}
    </text>
    
} else {
    <ul>
        <li>@Html.ActionLink("Registreer", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li>@Html.ActionLink("Log in", "SelectAccount", "Account")</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                test
            </p>
        </div>
    </section>
}
