@model IEnumerable<projecten.Models.Domain.StageOpdracht>

<h2>Uw goedgekeurde voorkeurstages</h2>
<table id="Lijst">
    <tr>
        <th class="firstth">Naam</th>
        <th >Omschrijving</th>
        <th>Semester</th>
        <th>Specialisatie</th>
        <th>studenten</th>
        <th>Academiejaar</th>
        <th></th>
    </tr>

    @if (!Model.Any())
    {
        <tr>
            <td colspan="4" align="center">U hebt nog geen goedgekeurde voorkeurstages.</td>
        </tr>
    }

    @foreach (var item in Model)
    {

        <tr>
            <td class="firsttd">@Html.DisplayFor(modelItem => item.Naam)</td>
            <td class="omschrijving">@Html.DisplayFor(modelItem => item.Omschrijving)</td>
            <td>@Html.DisplayFor(modelItem => item.Semester)</td>
            <td class="omschrijving">@Html.DisplayFor(modelItem => item.Specialisatie)</td>
            <td>@Html.DisplayFor(modelItem => item.AantalStudenten)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Academiejaar)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.Studenten, new SelectList(item.Studenten, "Naam", "Naam"))
            </td>
        </tr>
    }
</table>