@model projecten.Models.Domain.Student
@{
    ViewBag.Title = "Profiel student";
    var foto = Model.Foto;
}

<hgroup class="subtitle">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div style="float: left;">
        <fieldset>
            <legend>Profiel</legend>
            <ol>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Naam)

                </li>
                <li>
                    @Html.DisplayFor(model => model.Naam)

                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Email)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Email)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.TweedeEmail)
                </li>
                <li>
                    @Html.DisplayFor(model => model.TweedeEmail)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Adres)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Adres)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Gsm)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Gsm)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Keuzevak)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Keuzevak)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Foto)
                </li>
                <li>
                    <img alt="" width="300" height="200" src="data:image/jpeg;base64,@foto" /> 
                </li>   
                    
            </ol>
            <input class="linkbutton" type="submit" value="Wijzig" /> 
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}