@using System.Collections
@using System.Collections.ObjectModel
@using System.Configuration
@using Microsoft.Ajax.Utilities
@using MySql.Data.MySqlClient
@using projecten.Models.DAL
@model projecten.Models.Domain.Student
@{
    ViewBag.Title = "Stagebegeleider";
    var foto = Model.foto;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div style="float: left;">
        <fieldset>
            <legend>Profiel</legend>
            <ol>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.naam)

                </li>
                <li>
                    @Html.DisplayFor(model => model.naam)

                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Email)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Email)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.tweedeEmail)
                </li>
                <li>
                    @Html.DisplayFor(model => model.tweedeEmail)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.adres)
                </li>
                <li>
                    @Html.DisplayFor(model => model.adres)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.gsm)
                </li>
                <li>
                    @Html.DisplayFor(model => model.gsm)
                </li>
                <li>

                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.keuzevak)
                </li>
                <li>
                    @Html.DisplayFor(model => model.keuzevak)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.foto)
                </li>
                <li>
                    <img alt="" width="300" height="200" src="data:image/jpeg;base64,@foto" /> 
                </li>   
                    
            </ol>
            <input type="submit" value="Wijzig" /> 
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}