@model projecten.Models.StageBegeleiderModel
@{
    ViewBag.Title = "Stagebegeleider";
    var foto = Model.Foto;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
@using (Html.BeginForm("ProfielWijzigen", "Begeleider", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div style="float: left;">
        <fieldset>
            <legend>Profiel</legend>
            <ol>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Naam)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.Naam)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.VoorNaam)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.VoorNaam)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Email)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.Email)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Adres)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.Adres)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Gsm)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.Gsm)
                </li>
                <li class="h3">
                    @Html.DisplayNameFor(model => model.Telefoon)
                    
                </li>
                <li>
                    @Html.TextBoxFor(model => model.Telefoon)
                </li>
                <li class="h3">
                    @Html.Label("foto:")
                </li>
                <li>
                    <img alt="" width="300" height="200" src="data:image/jpeg;base64,@foto" /> <input type="file" name="image" />
                </li>   
                    
            </ol>
            <input type="submit" value="Wijzig" /> 
        </fieldset>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}