@model IEnumerable<projecten.Models.Domain.StageOpdracht>
@{
    ViewBag.Title = "Beschikbare stageopdrachten";
}

<div class="subheader">
    @using(Html.BeginForm("StageOpdrachten", "Begeleider"))
{
    <h4>Zoek op naam of specialisatie:</h4>
    
    <input type="text" name="zoekopdracht"/>
    <input class="linkbutton" type="submit" value="Filter" />
}

</div>
<hgroup class="subtitle">
    <h1>@ViewBag.Title</h1>
</hgroup>

<table>
    <tr>
        <th class ="firstth">
            @Html.DisplayNameFor(model => model.Naam)

        </th>

        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialisatie)

        </th>
        <th>
            @Html.DisplayName("#Studenten")

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Academiejaar)
        </th>
        <th>
            @Html.DisplayName("Studenten")

        </th>
            
        <th></th>
    </tr>

@if (!Model.Any())
    {
        <tr>
            <td colspan="4" align="center">Er zijn geen stageopdrachten gevonden!</td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td class="firsttd">
               @Html.ActionLink(item.Naam,"StageOpdracht", new{id = item.StageOpdrachtid}) 
            </td>
            <td  class="omschrijving">
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td  class="omschrijving">
                @Html.DisplayFor(modelItem => item.Specialisatie)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.AantalStudenten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Academiejaar)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.Studenten,item.GetstStudents(item))
            </td>

    <td>
        @Html.ActionLink("Voorkeur", "VoorkeurOpdracht", new {id = item.StageOpdrachtid}, new {@class = "linkbutton"}) |
        @Html.ActionLink("wijzigen", "IngenomenWijzigen", new {id = item.StageOpdrachtid}, new {@class = "linkbutton"})

    </td>
        </tr>
    }

</table>
